<% if comment.user.image.present? %>
  <%= link_to image_tag(comment.user.image, class: 'commentimgwedth'), user_path(comment.user.id) %>
<% else %>
  <%= link_to image_tag('user/us.png', class: 'commentimgwedth'), user_path(comment.user.id) %>
<% end %>  
<%= comment.user.full_name %><br>
<%= comment.created_at %><br>
<span style="color: blue">
  <%= comment.comment %>
</span>&nbsp;
<% if user_signed_in? %>
	<% if current_user.id == comment.user_id or current_user.admin? %>
	  <%= link_to comment_path(comment.id), method: :delete, remote: true do %>
	    <i class="fa fa-trash" aria-hidden="true"></i>
	  <% end %>&nbsp;
	  <%= link_to edit_comment_path(comment.id), remote: true do %>
	    <i class="fa fa-edit" aria-hidden="true"></i>
	  <% end %>
	<% end %>
<% end %>
<br><br>