<div class="card w-75 mx-auto mt-5">
  <div class="card-body">
    <header class="mb-4"><h4 class="card-title text-center">New Portfolio</h4></header>
    <%= form_with(model: portfolio, local: true) do |form| %>
      <%= render "shared/error", portfolio: portfolio %>
     
    <div class="row">
      <%= render "shared/heading_field", field: :heading, form: form %>

      <%= render "shared/heading_field", field: :sub_heading1, form: form %>
      
      <%= render "shared/heading_field", field: :sub_heading2, form: form %>
    </div>

    <div class="row">
      <%= render "shared/heading_field", field: :image_heading, form: form %>
      
      <%= render "shared/file_field", field: :images, form: form %>

      <%= render "shared/heading_field", field: :video_heading, form: form %> 
    </div>
    
    <div class="row">
      <%= render "shared/file_field", field: :videos, form: form %>

      <%= render "shared/heading_field", field: :sub_head1, form: form %>
      
      <%= render "shared/text_field", field: :text1, form: form %>
    </div>    
    
    <div class="row">
      <%= render "shared/heading_field", field: :sub_head2, form: form %>
      
      <%= render "shared/text_field", field: :text2, form: form %>  
      
      <%= render "shared/heading_field", field: :sub_head3, form: form %>
    </div>

    <div class="row">
      <%= render "shared/text_field", field: :text3, form: form %>
      
      <%= render "shared/heading_field", field: :sub_head4, form: form %>
      
      <%= render "shared/text_field", field: :text4, form: form %>
    </div>

    <div class="row">
      <%= render "shared/heading_field", field: :sub_head5, form: form %>
      
      <%= render "shared/text_field", field: :text5, form: form %>

      <%= render "shared/heading_field", field: :sub_head6, form: form %>
    </div>  
    
    <div class="row">
      <%= render "shared/text_field", field: :text6, form: form %>

      <%= render "shared/heading_field", field: :sub_head7, form: form %>
      
      <%= render "shared/text_field", field: :text7, form: form %>
    </div>

    <div class="row">
      <%= render "shared/heading_field", field: :sub_head8, form: form %>
      
      <%= render "shared/text_field", field: :text8, form: form %>
      
      <%= render "shared/heading_field", field: :sub_head9, form: form %>
    </div>

    <div class="row">
      <%= render "shared/text_field", field: :text9, form: form %>
      
      <%= render "shared/heading_field", field: :sub_head10, form: form %>

      <%= render "shared/text_field", field: :text10, form: form %>
    </div>

    <div class="row">
      <%= render "shared/heading_field", field: :sub_head11, form: form %>
      
      <%= render "shared/text_field", field: :text11, form: form %>

      <%= render "shared/heading_field", field: :sub_head12, form: form %>
    </div>

    <div class="row">
      <%= render "shared/text_field", field: :text12, form: form %>
      
      <%= render "shared/heading_field", field: :sub_head13, form: form %>
      
      <%= render "shared/text_field", field: :text13, form: form %>
    </div>

    <div class="row">
      <%= render "shared/heading_field", field: :sub_head14, form: form %>
      
      <%= render "shared/text_field", field: :text14, form: form %>  
      
      <%= render "shared/heading_field", field: :sub_head15, form: form %>
    </div>

    <div class="row">
      <%= render "shared/text_field", field: :text15, form: form %>
      
      <%= render "shared/heading_field", field: :sub_head16, form: form %>
      
      <%= render "shared/text_field", field: :text16, form: form %>
    </div>

    <div class="row">
      <%= render "shared/heading_field", field: :sub_head17, form: form %>
      
      <%= render "shared/text_field", field: :text17, form: form %>
    </div>  

    <div class="actions form-group">
      <%= form.submit 'Submit', class: 'btn btn-primary float-right' %>
    </div>
    <% end %>
  </div>
</div>