<p id="notice"><%= notice %></p>

<h1>Portfolios</h1>

<table>
  <thead>
    <tr>
      <th>Text1</th>
      <th>Text2</th>
      <th>Text3</th>
      <th>Text4</th>
      <th>Text5</th>
      <th>Text6</th>
      <th>Text7</th>
      <th>Text8</th>
      <th>Text9</th>
      <th>Text10</th>
      <th>Text11</th>
      <th>Text12</th>
      <th>Text13</th>
      <th>Text14</th>
      <th>Text15</th>
      <th>Text16</th>
      <th>Text17</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @portfolios.each do |portfolio| %>
      <tr>
        <td><%= portfolio.text1 %></td>
        <td><%= portfolio.text2 %></td>
        <td><%= portfolio.text3 %></td>
        <td><%= portfolio.text4 %></td>
        <td><%= portfolio.text5 %></td>
        <td><%= portfolio.text6 %></td>
        <td><%= portfolio.text7 %></td>
        <td><%= portfolio.text8 %></td>
        <td><%= portfolio.text9 %></td>
        <td><%= portfolio.text10 %></td>
        <td><%= portfolio.text11 %></td>
        <td><%= portfolio.text12 %></td>
        <td><%= portfolio.text13 %></td>
        <td><%= portfolio.text14 %></td>
        <td><%= portfolio.text15 %></td>
        <td><%= portfolio.text16 %></td>
        <td><%= portfolio.text17 %></td>
        <td><%= link_to 'Show', portfolio %></td>
        <td><%= link_to 'Edit', edit_portfolio_path(portfolio) %></td>
        <td><%= link_to 'Destroy', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Portfolio', new_portfolio_path %>
