<!-- <p id="notice"><%= notice %></p> -->
<div class="container">
  <%# if alert.present? %>
    <!-- <div class="alert alert-info text-danger">
      <strong><%= alert %></strong>
    </div> -->
  <%# end %>
  <h1 class="mt-3 mb-3"><%= @portfolio.heading %></h1>

  <p>
    <%= link_to image_tag(@portfolio.user.image, class: 'commentimgwedth'), user_path(@portfolio.user_id) %>
    <%= @portfolio.user.full_name %><br>
    <%= @portfolio.created_at %><br>
  </p>

  <p>
    <% if @portfolio.images[0].present? %>
      <%= link_to image_tag(@portfolio.images[0], size: '1109x500') %>
    <% else %>
      <%= link_to image_tag('default/wallpaper.jpg', size: '1109x500') %>
    <% end %>
  </p>
  
  <div class="card">
    <div class="card-body">
      <h6 class="text-center">You get stronger by showing up and doing the work.</h6>
      <h6 class="text-center">And you show up when you like what you do.</h6>
      
      <h1><%= @portfolio.sub_head1 %></h1>

      <div class='jumbotron'>
        <% @portfolio.text1.split('$').each do |text| %>
          <%= text %><br><br>
        <% end %>
      </div>
      
      <hr>

      <div class="row">
        <div class="col-lg-4">
          <h1><%= @portfolio.sub_head2 %></h1>
        </div>  
        <dir class="col-lg-8">
          <div class='jumbotron'>
            <% @portfolio.text2.split('$').each do |text| %>
              <%= text %><br><br>
            <% end %>
          </div>   
        </dir>
      </div>

      <hr>
      
      <h1><%= @portfolio.sub_head3 %></h1>

      <div class='jumbotron'>
        <% @portfolio.text3.split('$').each do |text| %>
          <%= text %><br><br>
        <% end %>
      </div>

      <hr>

      <h1> <%= @portfolio.sub_head4 %> </h1>

      <div class='jumbotron'>
        <% @portfolio.text4.split('$').each do |text| %>
          <%= text %><br><br>
        <% end %>
      </div>

      <h1> <%= @portfolio.sub_head5 %> </h1>

      <div class='jumbotron'>
        <% @portfolio.text5.split('$').each do |text| %>
          <%= text %><br><br>
        <% end %>
      </div>

      <h1> <%= @portfolio.sub_head6 %> </h1>

      <div class='jumbotron'>
        <% @portfolio.text6.split('$').each do |text| %>
          <%= text %><br><br>
        <% end %>
      </div>

      <hr>

      <div class="row">
        <div class="col-lg-6">
          <p>
            <% if @portfolio.images[1].present? %>
              <%= link_to image_tag(@portfolio.images[1] , size: '520x640') %>
            <% else %>
              <%= link_to image_tag('default/wallpaper.jpg', size: '520x640') %>
            <% end %>
          </p>
        </div>
        <div class="col-lg-6">
          <h1> <%= @portfolio.sub_head7 %> </h1>
          <div class='jumbotron'>
            <% @portfolio.text7.split('$').each do |text| %>
              <%= text %><br><br>
            <% end %>
          </div>          
        </div>
      </div> 

      <hr>

      <h1> <%= @portfolio.sub_head8 %> </h1>

      <div class='jumbotron'>
        <% @portfolio.text8.split('$').each do |text| %>
          <%= text %><br><br>
        <% end %>
      </div>

      <hr>

      <h1><%= @portfolio.sub_head9 %></h1>
      
      <div class='jumbotron'>
        <% @portfolio.text9.split('$').each do |text| %>
          <%= text %><br><br>
        <% end %>
      </div>
      
      <h1><%= @portfolio.sub_head10 %></h1>

      <div class='jumbotron'>
        <% @portfolio.text10.split('$').each do |text| %>
          <%= text %><br><br>
        <% end %>
      </div>

      <h1><%= @portfolio.sub_head11 %></h1>

      <div class='jumbotron'>
        <% @portfolio.text11.split('$').each do |text| %>
          <%= text %><br><br>
        <% end %>
      </div>

      <hr>

      <h2 class="text-center"> Don't Just Take My Word For It..</h2><br><br>

      <div class="row">
        <% if @portfolio.videos.present? %>
          <% @portfolio.videos.each do |video| %>
            <div class="col-lg-6">
              <%= video_tag(url_for(video), style: 'width:100%; height: auto', controls: '') %>
            </div>  
          <% end %>
        <% end %>
      </div>

      <hr>

      <h1 class="text-center" > "Karin, What's Inside The Core Play?" </h1><br><br>

      <p>
        <% if @portfolio.images[2].present? %>
          <%= link_to image_tag(@portfolio.images[2] , size: '1069x500') %>
        <% else %>
          <%= link_to image_tag('default/wallpaper.jpg', size: '1069x500') %>
        <% end %>
      </p>

      <h2 class="text-center" >4 Week Core Strength Routine</h2><br><br>

      <!-- <div class="card"> -->
        <!-- <div class="card-body"> -->
          <div class="row">
            <div class="col-lg-6">
              <% if @portfolio.images[3].present? %>
                <%= link_to image_tag(@portfolio.images[3] , size: '500x400') %>
              <% else %>
                <%= link_to image_tag('default/wallpaper.jpg', size: '500x400') %>
              <% end %>
            </div>
            <div class="col-lg-6">
              <h1><%= @portfolio.sub_head12 %></h1>
              <div class='jumbotron'>
                <% @portfolio.text12.split('$').each do |text| %>
                  <%= text %><br><br>
                <% end %>
              </div>
            </div>

            <div class="col-lg-6">
              <% if @portfolio.images[4].present? %>
                <%= link_to image_tag(@portfolio.images[4] , size: '500x420') %>
              <% else %>
                <%= link_to image_tag('default/wallpaper.jpg', size: '500x420') %>
              <% end %>  
            </div>
            <div class="col-lg-6">
              <h1><%= @portfolio.sub_head13 %></h1>
              <div class='jumbotron'>
                <% @portfolio.text13.split('$').each do |text| %>
                  <%= text %><br><br>
                <% end %>
              </div>
            </div>

            <div class="col-lg-6">
              <% if @portfolio.images[5].present? %>
                <%= link_to image_tag(@portfolio.images[5] , size: '500x400') %>
              <% else %>
                <%= link_to image_tag('default/wallpaper.jpg', size: '500x400') %>
              <% end %>  
            </div>
            <div class="col-lg-6">
              <h1><%= @portfolio.sub_head14 %></h1>
              <div class='jumbotron'>
                <% @portfolio.text14.split('$').each do |text| %>
                  <%= text %><br><br>
                <% end %>
              </div>
            </div>

            <div class="col-lg-6">
              <% if @portfolio.images[6].present? %>
                <%= link_to image_tag(@portfolio.images[6] , size: '500x420') %>
              <% else %>
                <%= link_to image_tag('default/wallpaper.jpg', size: '500x420') %>
              <% end %>
            </div>
            <div class="col-lg-6">
              <h1><%= @portfolio.sub_head15 %></h1>
              <div class='jumbotron'>
                <% @portfolio.text15.split('$').each do |text| %>
                  <%= text %><br><br>
                <% end %>
              </div>
            </div>
          </div>
        <!-- </div> -->
      <!-- </div>  -->

      <hr>
      
      <h1><%= @portfolio.sub_head16 %></h1>

      <div class='jumbotron'>
        <% @portfolio.text16.split('$').each do |text| %>
          <%= text %><br><br>
        <% end %>
      </div>

      <h1><%= @portfolio.sub_head17 %></h1>

      <div class='jumbotron'>
        <% @portfolio.text17.split('$').each do |text| %>
          <%= text %><br><br>
        <% end %>
      </div>

      <hr>
      <h1>Comments</h1>
      <div class="jumbotron" id="jmb">
        <% if @comments.present? %>
          <!-- <div id="comm"> -->
            <%= render partial: 'comments/comment', collection: @comments %>
          <!-- </div>   -->
        <% else %>
          <div id="ncym">
            Not Commented Yet!
          </div>
        <% end %>
      </div>

      <div id="comment_form">
        <%= link_to new_comment_path(portfolio_id: @portfolio.id), remote: true do %>
          <i class="fas fa-comment"></i>
        <% end %>
      </div>
      <div id="lik_dis">
        <%= render 'likes/like_dislike', portfolio: @portfolio %>
      </div>
    </div>
  </div>
</div>
<%# link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%# link_to 'Back', portfolios_path %>
