<div class="col-lg-10">
	<h1>Portfolios</h1>
	<div class="card">
		<article class="card-body">
		  <%= link_to 'Add Portfolio', new_portfolio_path, class: 'btn btn-primary float-right mb-2' %>
		  <table class="table table-hover">
		    <thead>
		    	<tr>
		    		<th>Image</th>
		    	  <th>Publisher Name</th>
		    	  <th>Publisher Email</th>
		    	  <th>Title</th>
		    	  <th colspan="2">Options</th>
		    	</tr>
		    </thead>
		    <tbody>
		    	<% @portfolios.each do |portfolio| %>
		    	  <% if portfolio.user.present? %>
			    	  <tr>
			    	  	<td class="w-25"><%= link_to image_tag(portfolio.user.image, class: 'w-25') %></td>
			    	  	<td><%= portfolio.user.full_name %></td>
			    	  	<td><%= portfolio.user.email %></td>
			    	  	<td><%= portfolio.heading %></td>
			    	  	<td><%= link_to 'show', portfolio_path(portfolio), class: 'btn btn-primary' %></td>
			    	  	<td id='<%= "#{portfolio.id}" %>'>
			    	  	  <%= render 'admin/portfolios/condition', portfolio: portfolio %> 		
			    	  	</td>
			    	  </tr>
		    	  <% end %>
		    	<% end %>
		    </tbody>
		  </table>	
		</article>
	</div>
</div>