<div class="col-lg-10">
  <div id="abc123">
    <%= link_to 'Invite User', invite_user_admin_users_path, class: 'btn btn-primary float-right mt-2', remote: true %>
  </div><br><br>
  <% if @users.present? %>
    <div class="card">
      <h1 class="text-center">Users</h1>
    	<div class="card-body">
    		<div class="row">
    			<% @users.each do |user| %>
    			  <div class="col-lg-4 mb-3">
    			  	<div class="card">
    			  		<div class="card-body">
    			  			<% if user.image.present? %>
    			  				<%= link_to image_tag(user.image, class: 'userimg'), user_path(user) %><br>
    			  			<% else %>
    			  				<%= link_to image_tag('user/us.png', class: 'userimg'), user_path(user)  %><br>	
    			  			<% end %>
    			  			<i class="fa fa-user" aria-hidden="true"></i>&nbsp; <%= user.full_name %><br>
    			  			<i class="fas fa-envelope-square"></i>&nbsp; <%= user.email %><br>
    			  			<div id = '<%= "#{user.id}" %>'>
    			  				<%= render 'admin/users/condition', user: user %>
    			  			</div>
    			  		</div>
    			  	</div>
    			  </div>
    			<% end %>
    		</div>
    	</div>
      <span id="pagynav"><%== pagynav %></span>
    </div>
  <% else %>
    <div class="alert text-center alert-info text-danger">
      Opps! no user registered yet
    </div>  
  <% end %>	
</div>
